{% extends 'proposals/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Join - United Consumers of America' %}{% endblock %}
{% block main %}
  <h1>{% trans 'Join' %}</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <div class="submit">
      <button type="submit">{% trans "Sign up" %}</button>
    </div>
  </form>
{% endblock %}
